<!doctype html>
<html lang="en">
<%- include('head') %>

    <body>
        <div class="container">
            <%- include('navbar') %>
                <div class="container-fluid">
                    <h1>Add Blog</h1>
                    <form method="POST" action="/blogs/create">
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" required class="form-control" id="title" name="title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="details" class="col-sm-2 col-form-label">Details</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="details" name="details"></textarea>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-outline-primary" type="submit">Save</button>
                                </div>
                                <div class="col">
                                    <a class="btn btn-outline-warning" href="/">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    </body>

</html>